<head>
        <!DOCTYPE html>
        <html>
        <head>
        
          <title>Jobs</title>
          <meta http-equiv="Cache-control" content="public">
          <meta name="viewport" content="width=device-width, user-scalable=no">

        
        </head>
        <h1>Jobs DB</h1>
        <div id= "jobsDB">
        Jobs.company :    <%-   JSON.stringify(jobs)   %><br><br>
        Test : <%-   JSON.stringify(test)   %>
        </div>

        <h3>Companies</h3>

        <form action="/newcompany" method="POST">
          <input type="text" name="company" value="company" >
          <input type="submit" value="Add">
        </form>

        <h3>Create new job entry</h3>


        <form action="/createjob" method="POST">
            
            <input type="text" name="jobName" value="job name" >
            <input type="text" name="salary"  value="Salary" >
            <input type="text" name="experience" value= "experience level" >
            <input type="submit" value="Insert">
        
        </form>


